html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background-color: #181818;
    color: white;
    scrollbar-width: thin;
    scrollbar-color: #4d4d4f #181818;
}

a {
    text-decoration: none;
    color: none;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

#interim {
    padding:10px;
    line-height:30px;
}

#main-container-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#main-container {
    width: 850px;
    height: calc(100% - 128px);
    background-color: #262626;
    border-radius: 16px;
    margin: 10px 20px;
    display: flex;
    box-shadow: 0 8px 6px -6px #00000023;
    flex-flow: column;
    min-height: 650px;
}

#bot-profile {
    text-align: center;
    user-select: none;
    pointer-events: none;
}

#bot-profile-pic {
    width: 128px;
    height: 128px;
    margin-top: 16px;
    border-radius: 50%;
    border: solid 3px white;
    user-select: none;
    pointer-events: none;
}

#bot-profile-name {
    color: white;
    font-size: 32px;
    margin: 0px 0px;
    margin-top: -8px;
}

#mic-container {
    display: flex;
    justify-self: baseline;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    margin-bottom: 16px;
    margin-top: 8px;
}

#mic-button {
    background-color: #595b5a;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #000;
}

.mic-not-allowed {
    cursor: not-allowed !important;
    background-color: #0581b34d !important;
}

.mic-not-allowed img {
    opacity: 0.2;
}

#mic-img {
    width: 64px;
    height: 64px;
    user-select: none;
    margin-top: calc(50% - 32px);
}

.effect-pulse {
    background-color: #0581b3 !important;
    color: #fff;
    animation: pulse 2000ms infinite;
    will-change: transform,box-shadow;
}

@keyframes pulse {
    0% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 rgb(30 136 185 / 70%);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px transparent;
    }

    100% {
        transform: scale(.95);
        box-shadow: 0 0 0 0 transparent;
    }
}

.tooltip {
    position:relative;
}

.tooltip h3 {
    margin:32px 28px;
    font-size: 22px;
    user-select: none;
}

.tooltip .top {
    min-width:316px;
    max-width:1200px;
    top:-20px;
    left:50%;
    transform:translate(-50%,-100%);
    color:#ffffff;
    background-color:#009cdc;
    font-weight:normal;
    font-size:16px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    text-align: center;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#009cdc;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

#chat-container {
    background-color: rgb(51 51 51);
    flex: 1;
    border-radius: 18px;
    margin: 12px 42px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 300px;
}

#chat-container::-webkit-scrollbar {
    display: none;
}

#chat-inner {
    display: flex;
    flex-direction: column;
}

.chat-message-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
}

.assistant-message-wrapper {
    justify-content: flex-start !important;
}

.chat-message {
    display: flex;
    border-radius: 12px;
    background-color: #0581b3;
    padding: 8px 16px;
    max-width: 60%;
    margin-right: 12px;
    margin-top: 12px;
}

.assistant-message {
    background-color: #474646 !important;
    margin-right: 0px !important;
    margin-left: 12px;
}

.chat-message p {
    font-size: 18px;
    color: white;
    line-height: 25.2px;
}

#chat-footer {
    height: 80px;
}

.chat-interim {
    color: #c3c3c3 !important;
}

.typing-indicator {
    width: auto;
    padding: 7px 0px;
    display: table;
    position: relative;
}

.typing-indicator span {
    height: 11px;
    width: 11px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator .span1 {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator .span2 {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator .span3 {
    animation: 1s blink infinite 0.9999s;
}
  
@keyframes blink {
    50% {
      opacity: 1;
    }
}

#header-wrapper {
    height: 76px;
    width: 100%;
    margin: 0;
    text-align: center;
}

#header {
    margin: auto;
    width: max-content;
    cursor: pointer;
}

#header h1 {
    margin: 0;
    font-size: 48px;
    width: auto;
    user-select: none;
    color: white;
}

h1 img {
    height: 64px;
    width: 64px;
    text-align: center;
    margin-bottom: -12px;
}